// Defaults
@import './base/basic-reset';
@import './base/defaults';

// Utilities and variables
@import './utils/functions';
@import './utils/variables';
@import './utils/utilities';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/animations';

// Common styles
@import './layout/common';

// Sections
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/benefits';
@import './layout/feedback';
@import './layout/contacts';
@import './layout/footer';

// Mobile menu
@import './components/mobile-menu';

// Modal window
@import './components/modal';
