@charset "UTF-8";
/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --container-padding: 20px;
}
@media screen and (min-width: 768px) {
  :root {
    --container-padding: 32px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --container-padding: 16px;
  }
}

/* Utility classes */
.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.modal-igredients__form, .modal-ingredients__span, .modal-ingredients__item, .modal-ingredients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- Animations ---------- */
@-webkit-keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes ice-cream {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ice-cream {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ---------- Common ---------- */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

body.scroll-locked {
  overflow: hidden;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
.section.dark-text {
  color: #131313;
}
.section.light-text {
  color: #fcfcfc;
}

/* Links */
.link {
  font-weight: 700;
  font-size: inherit;
  color: currentColor;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.link:hover, .link:focus {
  color: #f8d24e;
}

/* SVG icons */
.icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

/* Buttons */
.button {
  font-weight: 600;
  color: #131313;
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  border: 1px solid #f8d24e;
  border-radius: 10px;
  padding: 12px 40px;
}
.button:hover, .button:focus {
  border-color: #0a8817;
}
.button:focus {
  color: #fcfcfc;
}
.button:disabled {
  border-color: #ababab;
}

.button--accented:hover {
  background-color: #0a8817;
}
.button--accented:focus {
  background-color: #0a8817;
}
.button--accented:disabled {
  background-color: #ababab;
}

.button--suffix::after {
  content: " >";
}

/* Headings */
.section-heading {
  font-family: .section-heading secondary-font;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 34px;
    line-height: 43px;
  }
}
@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
}

.sup-heading {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .sup-heading {
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .sup-heading {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
  }
}

section.products {
  text-align: center;
  background-color: beige;
}
section.products .sup-heading {
  margin-bottom: 12px;
}
section.products .section-heading {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  section.products .section-heading {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  section.products .section-heading {
    margin-bottom: 303px;
  }
}

.product-cards {
  display: flex;
}
@media screen and (min-width: 768px) {
  .product-cards {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-cards {
    gap: 29px;
  }
}

.product-card {
  position: relative;
  border-radius: 24px;
  padding: 123px 40px 16px;
}
@media screen and (min-width: 768px) {
  .product-card {
    flex-basis: 224px;
    max-width: 224px;
    padding: 108px 26px 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card {
    flex-basis: 370px;
    max-width: 370px;
    padding: 165px 34px 60px;
  }
}
.product-card:nth-of-type(1) {
  background-color: #84a278;
}
.product-card:nth-of-type(1) .product-card__image-wrapper {
  background: linear-gradient(0deg, rgba(132, 162, 120, 0.7), rgba(132, 162, 120, 0.7)), #d9d9d9;
}
.product-card:nth-of-type(2) {
  background-color: #efd478;
}
.product-card:nth-of-type(2) .product-card__image-wrapper {
  background: linear-gradient(0deg, rgba(239, 212, 120, 0.7), rgba(239, 212, 120, 0.7)), #d9d9d9;
}
.product-card:nth-of-type(3) {
  background-color: #d6936d;
}
.product-card:nth-of-type(3) .product-card__image-wrapper {
  background: linear-gradient(0deg, rgba(214, 147, 109, 0.7), rgba(214, 147, 109, 0.7)), #d9d9d9;
}

.product-card__image-wrapper {
  position: absolute;
  top: -108px;
  border-radius: 50%;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .product-card__image-wrapper {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__image-wrapper {
    top: -183px;
  }
}

.product-card__image {
  position: relative;
  top: -16px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .product-card__image {
    top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__image {
    top: -11px;
  }
}

.product-card__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
@media screen and (min-width: 480px) {
  .product-card__heading {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__heading {
    margin-bottom: 66px;
  }
}

.product-card__text {
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 101px;
}
@media screen and (min-width: 768px) {
  .product-card__text {
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__text {
    margin-bottom: 50px;
  }
}

.benefits {
  background-color: #84a278;
  padding-left: 45px;
  padding-right: 45px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-left: 76px;
    padding-right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.benefints_container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .benefints_container {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .benefints_container {
    width: 616px;
  }
}
@media screen and (min-width: 1200px) {
  .benefints_container {
    width: 1168px;
  }
}

.benefits_list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .benefits_list {
    flex-direction: column;
    gap: 28px;
  }
}
@media screen and (min-width: 768px) {
  .benefits_list {
    gap: 80px;
    flex-basis: calc((100% - 160px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .benefits_list {
    gap: 32px;
    flex-basis: calc((100% - 64px) / 3);
  }
}

.icon-wrapper {
  background-color: #f8d24e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding: 7px;
}
@media screen and (min-width: 768px) {
  .icon-wrapper {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-wrapper {
    margin-bottom: 40px;
  }
}

.benefits_info {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  padding-bottom: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .benefits_info {
    font-size: 48px;
    line-height: 1.2291666667;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits_info {
    font-size: 58px;
    line-height: 1.224137931;
    padding-bottom: 12px;
  }
}

.benefits_text {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .benefits_text {
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1200px) {
  .benefits_text {
    font-size: 16px;
    line-height: 176%;
  }
}

.feedback {
  padding-top: 178px;
  width: 100%;
  position: absolute;
  top: 50%;
  background-image: url(../images/feedback/Backgroud_mobile.png);
  transform: translatey(-50%);
}

.feedback .wrap {
  position: relative;
  width: 100%;
  max-width: 1013px;
  padding: 40px 22px;
  margin: auto;
}

.feedback .arrow {
  display: none;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  height: auto;
  padding: 35px 39px;
  background: #84a178;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2.55;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .description {
    max-width: 705px;
    height: 138px;
    padding: 28px 80px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 86;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    max-width: 968px;
    padding: 42px 73px;
    font-size: 16px;
  }
}

.feedback .dots {
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 18px;
  z-index: 3333;
  height: 12px;
}

.feedback .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.feedback .dots .dot.active,
.feedback .dots .dot:hover {
  background: #84a178;
}

.feedback .dots .dot.active {
  -webkit-animation: feedback-scale 0.5s ease-in-out forwards;
  animation: feedback-scale 0.5s ease-in-out forwards;
}

.feedback .cont {
  position: relative;
}

.feedback .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.feedback .cont > div.inactive {
  opacity: 0;
}

.feedback .cont > div.active {
  position: relative;
  opacity: 1;
}

.feedback .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.feedback .cont div h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .feedback .cont div h2 {
    font-size: 16px;
  }
}

.feedback .cont div p {
  margin: 32px auto;
}

.feedback .cont div.active .img img {
  -webkit-animation: feedback-show 0.5s ease-in-out forwards;
  animation: feedback-show 0.5s ease-in-out forwards;
}

.feedback .cont div.active h2 {
  -webkit-animation: feedback-content-in 0.4s ease-in-out forwards;
  animation: feedback-content-in 0.4s ease-in-out forwards;
}

.feedback .cont div.active p {
  -webkit-animation: feedback-content-in 0.5s ease-in-out forwards;
  animation: feedback-content-in 0.5s ease-in-out forwards;
}

.feedback .cont div.inactive .img img {
  -webkit-animation: feedback-hide 0.5s ease-in-out forwards;
  animation: feedback-hide 0.5s ease-in-out forwards;
}

.feedback .cont div.inactive h2 {
  -webkit-animation: feedback-content-out 0.4s ease-in-out forwards;
  animation: feedback-content-out 0.4s ease-in-out forwards;
}

.feedback .cont div.inactive p {
  -webkit-animation: feedback-content-out 0.5s ease-in-out forwards;
  animation: feedback-content-out 0.5s ease-in-out forwards;
}

@-webkit-keyframes feedback-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}
@keyframes feedback-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}
@-webkit-keyframes feedback-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes feedback-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes feedback-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes feedback-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes feedback-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes feedback-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes feedback-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes feedback-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
/* Стили для подложки */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: #fcfcfc;
  transition: 0.3s all;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .close-btn {
    width: 24px;
    height: 24px;
  }
}

.modal-ingredients {
  max-height: 968px;
  max-width: 280px;
  padding: 26px 18px;
}
@media screen and (min-width: 768px) {
  .modal-ingredients {
    max-height: 996px;
    min-width: 568px;
    padding: 32px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-ingredients {
    top: 0;
    transform: translateX(-50%) translateY(0%);
  }
}

.modal-ingredients__title {
  min-width: 142px;
  margin-bottom: 20px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal-ingredients__title {
    margin-bottom: 24px;
  }
}

.modal-ingredients__thumb {
  height: 139px;
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  border-radius: 50%;
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.modal-ingredients__thumb--yellow {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
.modal-ingredients__thumb--brown {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .modal-ingredients__thumb {
    margin-bottom: 24px;
  }
}

.modal-ingredients__list {
  gap: 9px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-ingredients__list {
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-ingredients__item {
  box-sizing: border-box;
  position: relative;
  min-width: 53px;
  height: 72px;
  padding-top: 52px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  color: #131313;
}
.modal-ingredients__item--yellow {
  border: 2px solid rgba(248, 210, 78, 0.7);
}
.modal-ingredients__item--brown {
  border: 2px solid rgba(213, 117, 63, 0.7);
}
@media screen and (min-width: 768px) {
  .modal-ingredients__item {
    min-width: 65px;
    height: 90px;
    padding-top: 61px;
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.modal-ingredients__span {
  box-sizing: border-box;
  position: absolute;
  width: 43px;
  height: 43px;
  left: 3px;
  top: -1px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  border-radius: 50px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.modal-ingredients__span--yellow {
  border: 2px solid rgb(248, 210, 78);
  background-color: rgb(248, 210, 78);
}
.modal-ingredients__span--brown {
  border: 2px solid rgb(213, 117, 63);
  background-color: rgb(213, 117, 63);
}
@media screen and (min-width: 768px) {
  .modal-ingredients__span {
    width: 53px;
    height: 53px;
    left: 4px;
    top: -1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.modal-ingredients__paragraph {
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}

.modal-ingredients__components {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-ingredients__components {
    margin-bottom: 48px;
  }
}

.modal-ingredients__component {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: rgb(19, 19, 19);
}
.modal-ingredients__component--span {
  margin-left: auto;
}

.modal-igredients__form {
  flex-direction: column;
  gap: 16px;
}

.modal-ingredients__form-field {
  width: 240px;
  height: 42px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  outline-offset: -1px;
  color: #131313;
}
.modal-ingredients__form-field--yellow {
  border: 1px solid rgb(248, 210, 78);
}
.modal-ingredients__form-field--brown {
  border: 1px solid rgb(213, 117, 63);
}
@media screen and (min-width: 768px) {
  .modal-ingredients__form-field {
    width: 368px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.modal-ingredients__form-message {
  width: 240px;
  height: 84px;
  padding: 11px 10.5px;
  margin-bottom: 24px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  outline-offset: -1px;
  color: #131313;
}
.modal-ingredients__form-message--yellow {
  border: 1px solid rgb(248, 210, 78);
}
.modal-ingredients__form-message--brown {
  border: 1px solid rgb(213, 117, 63);
}
@media screen and (min-width: 768px) {
  .modal-ingredients__form-message {
    width: 368px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
  }
}

.modal-ingredients__btn {
  min-width: 132px;
  min-height: 42px;
  padding: 12px 34px;
  font-size: 14px;
  line-height: 1.2142857143;
  border: none;
  background-color: #f8d24e;
}
.modal-ingredients__btn:hover, .modal-ingredients__btn:focus {
  background-color: #0a8817;
}
.modal-ingredients__btn:focus {
  color: #ffffff;
}
.modal-ingredients__btn:disabled {
  background-color: #ababab;
}
@media screen and (min-width: 768px) {
  .modal-ingredients__btn {
    min-width: 121px;
  }
}/*# sourceMappingURL=index.css.map */