// Modal Buy now

.modal-buynow {
  max-width: 280px;
  padding: 28px 28px;
  z-index: $z-modal;

  @media screen and (min-width: $tablet) {
    max-height: 653px;
    min-width: 568px;
    padding: 32px 54px;
  }
}

// Modal window title

.modal-buynow__title {
  margin-bottom: 83px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.5;
  color: $text-dark;

  @media screen and (min-width: $tablet) {
    margin-bottom: 103px;
    font-size: rem(20);
    line-height: 1.4;
  }
}

// Modal window form

.modal-buynow__form {
  @include form-outline($bg-primary);
}

// Checkboxes

.buycheck {
  appearance: none;

  // Custom outlines
  &:focus + .buycheck-label {
    outline: 2px solid $bg-primary;
    // outline-offset: 0.5px;

    &--icecoffee {
      outline-color: $bg-secondary;
    }

    &--milkshake {
      outline-color: $bg-tertiary;
    }
  }
}

.buycheck-label {
  display: block;
  position: relative;
  width: 132px;
  padding: 96px 11px 20px;

  background-color: #ffffff;
  border: 2px solid;
  border-radius: 15px;

  text-align: center;
  font-family: $primary-font;
  font-weight: 700;
  font-size: rem(16);
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-dark;

  cursor: url('../images/cursor-filled.svg'), pointer;

  -webkit-user-select: none;
  user-select: none;

  transition: background-color $transition-duration $transition-timing-function;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 132px;
    height: 132px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:before {
    top: 7px;
    left: -2px;
  }

  &:after {
    top: 0;
    left: -2px;

    border-radius: 50%;
    overflow: hidden;

    background-position: center;
    background-size: cover;
  }

  // Ice cream product

  &--icecream {
    border-color: #96af8c;

    &:before {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    &:after {
      @include buynow-checkbox-bg(icecream);
    }

    .buycheck:checked ~ & {
      background-color: #96af8c;
    }

    &:after,
    &:before {
      scale: 1;
      transition: scale $transition-duration $transition-timing-function,
        box-shadow $transition-duration $transition-timing-function;
    }

    &:hover,
    &:focus {
      &:after,
      &:before {
        scale: 1.05;
        box-shadow: 0px 10px 20px rgba(10, 136, 23, 0.25);
      }
    }
  }
  // Ice coffee product

  &--icecoffee {
    border-color: $bg-secondary;

    &:before {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &:after {
      @include buynow-checkbox-bg(icecoffee);
    }

    .buycheck:checked ~ & {
      background-color: $bg-secondary;
    }

    &:after,
    &:before {
      scale: 1;
      transition: scale $transition-duration $transition-timing-function,
        box-shadow $transition-duration $transition-timing-function;
    }

    &:hover,
    &:focus {
      &:after,
      &:before {
        scale: 1.05;
        box-shadow: 0px 10px 20px rgba(153, 114, 23, 0.25);
      }
    }
  }

  // Milkshake product

  &--milkshake {
    border-color: $bg-tertiary;

    &:before {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }

    &:after {
      @include buynow-checkbox-bg(milkshake);
    }

    .buycheck:checked ~ & {
      background-color: $bg-tertiary;
    }

    &:after,
    &:before {
      scale: 1;
      transition: scale $transition-duration $transition-timing-function,
        box-shadow $transition-duration $transition-timing-function;
    }

    &:hover,
    &:focus {
      &:after,
      &:before {
        scale: 1.05;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.modal-buynow__group {
  @extend %flex-centered;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 26px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    gap: 16px;
  }
}

.modal-buynow__field {
  width: 224px;
  height: 32px;
  padding: 0 12px;

  font-family: $primary-font;
  font-weight: 400;
  font-size: rem(12);
  line-height: 1.41;

  background: rgba($bg-secondary, 0.1);
  border: 1px solid $bg-primary;
  border-radius: $border-radius-button;

  transition: outline 100ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 42px;
    padding: 0 16px;

    font-size: rem(14);
    line-height: 1.42;
  }

  &:not(:placeholder-shown):invalid {
    outline: 3px solid red !important;
    background: rgba(100, 0, 0, 0.1);
  }
}

.buynow-comments__label {
  width: 224px;
  height: 65px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 84px;
  }
}

.modal_form__comments {
  width: 224px;

  padding: 8px 12px;
  resize: none;

  font-family: $primary-font;
  font-weight: 400;
  font-size: rem(12);
  line-height: 1.41;

  background: rgba($bg-secondary, 0.1);
  border: 1px solid $bg-primary;
  border-radius: $border-radius-button;

  @media screen and (min-width: $tablet) {
    width: 368px;

    padding: 11px 16px;

    font-size: rem(14);
    line-height: 1.42;
  }
}

.buynow-btn {
  min-width: 114px;
  min-height: 42px;
  padding: 12px 34px;

  font-size: rem(14);
  line-height: 1.21;

  border: none;
  background-color: $accent;

  &:hover,
  &:focus {
    background-color: $contrast;
  }

  &:focus {
    color: #ffffff;
  }

  &:disabled {
    background-color: $inactive;
  }

  @media screen and (min-width: $tablet) {
    min-width: 121px;
  }
}

// Modal products

.modal-buynow__products {
  @extend %flex-centered;
  flex-direction: column;
  gap: 82px;
  margin-bottom: 31px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.buynow-products__item {
  display: flex;
  flex-direction: column;

  flex-basis: 132px;
}
