// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// $breakpoints: (
//   'mobile': 320px,
//   'tablet': 768px,
//   'desktop': 1200px,
// );

// Fonts
$primary-font: 'Montserrat', sans-serif;
$primary-font-size: 1rem; // 16px

$secondary-font: 'Seymour One', sans-serif;
$secondary-font-size: 2.25rem; // 36px

// Colors
$accent: #f8d24e;
$contrast: #0a8817;
$inactive: #ababab;

// Text color
$text-dark: #131313;
$text-light: #fcfcfc;

// Background
$bg-primary: #84a178;
$bg-primary-darker: #84a278;
$bg-primary-lighter: #aec6a5;
$bg-secondary: #efd478;
$bg-tertiary: #d6936d;

// Borders
$border-radius-button: 10px;
$border-radius-card: 24px;

// Spacings
$section-padding: 60px;

:root {
  --container-padding: 20px;

  @media screen and (min-width: $tablet) {
    --container-padding: 32px;
  }
  @media screen and (min-width: $desktop) {
    --container-padding: 16px;
  }
}
$container-padding: var(--container-padding);

// Positioning
$z-header: 1;
$z-backdrop: 10;
$z-modal: 100;

// Transitions
$transition-duration: 300ms;
$transition-timing-function: ease-out;
