<section class="section benefits section--light-text" id="benefits">
	<div class="container">

		<!-- Section title -->
		<h2 class="benefits__title visually-hidden">Benefits</h2>

		<!-- Section cards -->
		<ul class="benefits__list">

			<!-- List item 1 -->
			<li class="benefits__item">

				<!-- Icon wrapper -->
				<div class="benefits__icon-wrapper">
					<svg class="benefits__icon" width="36" height="36">
						<use href="./images/symbol-defs.svg#icon-cow"></use>
					</svg>
				</div>
				<p class="benefits__info counter animated-counter" data-value="721">721</p>
				<p class="benefits__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>
			</li>

			<!-- List item 2 -->
			<li class="benefits__item">

				<!-- Icon wrapper -->
				<div class="benefits__icon-wrapper">

					<svg class="benefits__icon" width="36" height="36">
						<use href="./images/symbol-defs.svg#icon-weight"></use>
					</svg>

				</div>

				<!-- Stat/Number -->
				<p class="benefits__info">
					<span class="counter animated-counter" data-value="16">16</span>kg
				</p>

				<!-- Stat/Description -->
				<p class="benefits__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>

			</li>

			<!-- List item 3 -->
			<li class="benefits__item">

				<!-- Icon wrapper -->
				<div class="benefits__icon-wrapper">

					<svg class="benefits__icon" width="36" height="36">
						<use href="./images/symbol-defs.svg#icon-ice-cream"></use>
					</svg>

				</div>

				<!-- Stat/Number -->
				<p class="benefits__info counter animated-counter" data-value="84">84</p>

				<!-- Stat/Description -->
				<p class="benefits__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>

			</li>

		</ul>

	</div>
</section>