<section class="section feedback" id="feedback">
	<div class="container">

		<h2 class="visually-hidden">What our clients say</h2>

		<!-- Feedback cover -->
		<div class="feedback-cover">

			<div class="feedback-wrapper">

				<!-- Arrows -->
				<span id="right-arrow" class="arrow right">&rsaquo;
				</span>
				<span id="left-arrow" class="arrow left">&lsaquo;
				</span>

				<!-- Feedback content -->
				<div id="feedback-content" class="feedback-content">

					<!-- Review 1 - Emily -->
					<div id="hide-arrow" class="review active" role="group">

						<div class="review__image-wrapper">

							<!-- Reviewer's picture -->
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto.webp    1x,
                    ./images/feedback/webp/foto@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto.jpg    1x,
                    ./images/feedback/jpeg/foto@2x.jpg 2x
                  " type="image/jpg" />
								<img class="review__image" src="./images/feedback/jpeg/foto.jpg" alt="some user" />
							</picture>
						</div>

						<!-- Review text -->
						<p class="review__text">
							I love visiting your cafe. You prepare the most delicious ice
							cream in Los Angeles! In addition, you have beautiful serving,
							cozy atmosphere and polite staff.
						</p>

						<!-- Review author -->
						<p class="review__author">Emily, Los Angeles</p>

					</div>

					<!-- Review 2 - Bryan -->
					<div class="review" role="group">

						<div class="review__image-wrapper">

							<!-- Reviewer's picture -->
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto3.webp    1x,
                    ./images/feedback/webp/foto3@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto3.jpg    1x,
                    ./images/feedback/jpeg/foto3@2x.jpg 2x
                  " type="image/jpg" />
								<img class="review__image" src="./images/feedback/jpeg/foto3.jpg" alt="some user" />
							</picture>
						</div>

						<!-- Review text -->
						<p class="review__text">
							Every day we come to you with friends after classes in college. We
							love your ice cream and casual atmosphere!
						</p>

						<!-- Review author -->
						<p class="review__author">Bryan, New-York</p>
					</div>

					<!-- Feedback item 3 -->
					<div class="review" role="group">

						<div class="review__image-wrapper">

							<!-- Reviewer's picture -->
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto2.webp    1x,
                    ./images/feedback/webp/foto2@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto2.jpg    1x,
                    ./images/feedback/jpeg/foto2@2x.jpg 2x
                  " type="image/jpg" />
								<img class="review__image" src="./images/feedback/jpeg/foto2.jpg" alt="A happy-looking girl" />
							</picture>
						</div>

						<!-- Review text -->
						<p class="review__text">
							Ice cream is my passion! I love your chocolate hazelnut ice cream!
							And I really like the excellent service - always served politely
							and quickly!
						</p>

						<!-- Review author -->
						<p class="review__author">Diana, Chicago</p>
					</div>

				</div>

				<!-- Dots (pagination) -->
				<ul id="feedback-dots" class="feedback-dots">
					<li class="dot active"></li>
					<li class="dot"></li>
					<li class="dot"></li>
				</ul>

			</div>
		</div>

	</div>

</section>