<section class="section gallery" id="gallery">
	<div class="container">

		<h2 class="visually-hidden">Image gallery</h2>

		<!-- Gallery / Slideshow -->
		<div class="gallery__thumb" id="animation">

			<!-- Slideshow image 1 -->
			<picture class="gallery__img">

				<!-- Desktop -->
				<source media="(min-width: 1200px)" srcset="
							./images/gallery/webp/desktop/img1.webp    1x,
							./images/gallery/webp/desktop/img1@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 1200px)" srcset="
							./images/gallery/jpeg/desktop/img1.jpg    1x,
							./images/gallery/jpeg/desktop/img1@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Tablet -->
				<source media="(min-width: 768px)" srcset="
							./images/gallery/webp/tablet/img1.webp    1x,
							./images/gallery/webp/tablet/img1@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 768px)" srcset="
							./images/gallery/jpeg/tablet/img1.jpg    1x,
							./images/gallery/jpeg/tablet/img1@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Mobile -->
				<source srcset="
							./images/gallery/webp/mobile/img1.webp    1x,
							./images/gallery/webp/mobile/img1@2x.webp 2x
							" type="image/webp" />

				<source srcset="
							./images/gallery/jpeg/mobile/img1.jpg    1x,
							./images/gallery/jpeg/mobile/img1@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Default -->
				<img src="./images/gallery/jpeg/desktop/img2@2x.jpg" alt="Colorful cones of ice cream decorated with currants."
					height="130" />
			</picture>

			<!-- Slideshow image 2 -->
			<picture class="gallery__img">

				<!-- Desktop -->
				<source media="(min-width: 1200px)" srcset="
							./images/gallery/webp/desktop/img2.webp    1x,
							./images/gallery/webp/desktop/img2@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 1200px)" srcset="
							./images/gallery/jpeg/desktop/img2.jpg    1x,
							./images/gallery/jpeg/desktop/img2@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Tablet -->
				<source media="(min-width: 768px)" srcset="
							./images/gallery/webp/tablet/img2.webp    1x,
							./images/gallery/webp/tablet/img2@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 768px)" srcset="
							./images/gallery/jpeg/tablet/img2.jpg    1x,
							./images/gallery/jpeg/tablet/img2@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Mobile -->
				<source srcset="
							./images/gallery/webp/mobile/img2.webp    1x,
							./images/gallery/webp/mobile/img2@2x.webp 2x
							" type="image/webp" />

				<source srcset="
							./images/gallery/jpeg/mobile/img2.jpg    1x,
							./images/gallery/jpeg/mobile/img2@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Default -->
				<img src="./images/gallery/jpeg/desktop/img2.jpg"
					alt="Colorful ice cream cones sitting in an ice cream rack." />
			</picture>

			<!-- Slideshow image 3 -->
			<picture class="gallery__img">

				<!-- Desktop -->
				<source media="(min-width: 1200px)" srcset="
							./images/gallery/webp/desktop/img3.webp    1x,
							./images/gallery/webp/desktop/img3@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 1200px)" srcset="
							./images/gallery/jpeg/desktop/img3.jpg    1x,
							./images/gallery/jpeg/desktop/img3@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Tablet -->
				<source media="(min-width: 768px)" srcset="
							./images/gallery/webp/tablet/img3.webp    1x,
							./images/gallery/webp/tablet/img3@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 768px)" srcset="
							./images/gallery/jpeg/tablet/img3.jpg    1x,
							./images/gallery/jpeg/tablet/img3@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Mobile -->
				<source srcset="
							./images/gallery/webp/mobile/img3.webp    1x,
							./images/gallery/webp/mobile/img3@2x.webp 2x
							" type="image/webp" />

				<source srcset="
							./images/gallery/jpeg/mobile/img3.jpg    1x,
							./images/gallery/jpeg/mobile/img3@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Default -->
				<img src="./images/gallery/jpeg/desktop/img3.jpg" alt="Two chocolate-dipped cones of ice cream ." />
			</picture>

			<!-- Slideshow image 4 -->
			<picture class="gallery__img">

				<!-- Desktop -->
				<source media="(min-width: 1200px)" srcset="
							./images/gallery/webp/desktop/img4.webp    1x,
							./images/gallery/webp/desktop/img4@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 1200px)" srcset="
							./images/gallery/jpeg/desktop/img4.jpg    1x,
							./images/gallery/jpeg/desktop/img4@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Tablet -->
				<source media="(min-width: 768px)" srcset="
							./images/gallery/webp/tablet/img4.webp    1x,
							./images/gallery/webp/tablet/img4@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 768px)" srcset="
							./images/gallery/jpeg/tablet/img4.jpg    1x,
							./images/gallery/jpeg/tablet/img4@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Mobile -->
				<source srcset="
							./images/gallery/webp/mobile/img4.webp    1x,
							./images/gallery/webp/mobile/img4@2x.webp 2x
							" type="image/webp" />

				<source srcset="
							./images/gallery/jpeg/mobile/img4.jpg    1x,
							./images/gallery/jpeg/mobile/img4@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Default -->
				<img src="./images/gallery/jpeg/desktop/img4.jpg" alt="Two ice cream cones with a small bouquet of lavender." />
			</picture>

			<!-- Slideshow image 5 -->
			<picture class="gallery__img">

				<!-- Desktop -->
				<source media="(min-width: 1200px)" srcset="
							./images/gallery/webp/desktop/img5.webp    1x,
							./images/gallery/webp/desktop/img5@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 1200px)" srcset="
							./images/gallery/jpeg/desktop/img5.jpg    1x,
							./images/gallery/jpeg/desktop/img5@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Tablet -->
				<source media="(min-width: 768px)" srcset="
							./images/gallery/webp/tablet/img5.webp    1x,
							./images/gallery/webp/tablet/img5@2x.webp 2x
							" type="image/webp" />

				<source media="(min-width: 768px)" srcset="
							./images/gallery/jpeg/tablet/img5.jpg    1x,
							./images/gallery/jpeg/tablet/img5@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Mobile -->
				<source srcset="
							./images/gallery/webp/mobile/img5.webp    1x,
							./images/gallery/webp/mobile/img5@2x.webp 2x
							" type="image/webp" />

				<source srcset="
							./images/gallery/jpeg/mobile/img5.jpg    1x,
							./images/gallery/jpeg/mobile/img5@2x.jpg 2x
							" type="image/jpeg" />

				<!-- Default -->
				<img src="./images/gallery/jpeg/desktop/img5.jpg"
					alt="Violet ice cream cones sitting in glass jars and decorated with peppermint leaves." />
			</picture>

		</div>

	</div>

</section>