<section class="section products" id="products">
	<div class="container">

		<!-- Section sup-heading -->
		<p class="sup-heading">100% Natural</p>

		<!-- Section-heading -->
		<h2 class="section-heading">Products</h2>

		<!-- Product cards -->
		<ul class="card-set product-cards">

			<!-- Product card item 1 - Ice Cream -->
			<li class="card-set__item product-card">

				<!-- Product card heading -->
				<h3 class="product-card__heading">Ice cream</h3>

				<!-- Product card text -->
				<p class="product-card__text">
					Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
				</p>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" aria-label="Link that opens a modal window with product ingredients"
					data-modal="modal-ingredients1" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

			<!-- Product card item 2 - Ice Coffee -->
			<li class="card-item product-card">

				<!-- Product card heading -->
				<h3 class="product-card__heading">Ice Coffee</h3>

				<!-- Product card text -->
				<p class="product-card__text">
					Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
					flavor enhancers
				</p>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" aria-label="Link that opens a modal window with product ingredients"
					data-modal="modal-ingredients2" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

			<!-- Product card item 3 - Milkshakes -->
			<li class="card-item product-card">

				<!-- Product card heading -->
				<h3 class="product-card__heading">Milkshakes</h3>

				<!-- Product card text -->
				<p class="product-card__text">
					Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
					choice
				</p>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" aria-label="Link that opens a modal window with product ingredients"
					data-modal="modal-ingredients3" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

		</ul>

	</div>
</section>