<!-- Franchise modal window -->
<div class="modal modal--franchise" id="modal-franchise" role="dialog" aria-labelledby="modal-title-franchise"
	data-modal="modal_franchise">

	<!-- Modal window title -->
	<h3 class="modal-franchise__title" id="modal-title-franchise">
		Thank you for your interest in owning an Ice Cream shop
	</h3>

	<p class="modal-franchise__description">
		Due to the overwhelming volume of franchise requests we are not accepting
		new franchisee applications at this time. Once the application process
		resumes, we will contact you for further information. Please fill out the
		contact information below and we will reach out for additional information.
		We appreciate your patience.
	</p>

	<form class="modal-franchise__form" name="modal__form">

		<div role="group" class="modal-franchise__field-group">
			<!-- Name -->
			<input type="text" class="modal-franchise__input" name="name" pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}"
				title="Please type only letters, e.g. Boris Johnson" required placeholder="Name" title="Name" />
			</label>

			<!-- Telephone -->
			<input type="tel" class="modal-franchise__input" required name="tel" pattern="[+\0-9]{10,}"
				title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits" placeholder="Phone" />
			</label>

			<!-- Email -->
			<input type="email" class="modal-franchise__input" required name="mail" placeholder="Email" />
			</label>

			<!-- Comment -->
			<textarea class="modal-franchise__message" name="comment" rows="3" placeholder="Comment"></textarea>
			</label>
		</div>

		<!-- Form submit button -->
		<button class="button modal-franchise__button" type="submit">Submit</button>
	</form>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window"
		aria-controls="modal-franchise">
		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>
		</svg>
	</button>
</div>