<!-- Read More modal window -->

<div class="modal modal-video" id="modal-video" id="modal-video" role="dialog" aria-labelledby="modal-title-video"
	data-modal="modal-video">

	<div class="modal-video__body">

		<!-- Modal window title -->
		<h3 class="video__title" id="modal-title-video">How it’s made?</h3>

		<!-- Video frame -->
		<!-- <iframe class="video__content" src="https://www.youtube.com/embed/8WEMZ86Eho8" title="YouTube video player"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
			loading="lazy"></iframe> -->

		<lite-youtube videoid="8WEMZ86Eho8" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>

		<!-- Video description -->
		<p class="video__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
			adipiscing elit, sed do eiusmod tempor incididunt ut labore et
		</p>
	</div>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window" aria-controls="modal-video">

		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>

		</svg>

	</button>
</div>

<!-- Lite YouTube Embed -->
<!-- https://github.com/paulirish/lite-youtube-embed -->
<link rel="stylesheet" href="../node_modules/lite-youtube-embed/src/lite-yt-embed.css" />

<script src="../node_modules/lite-youtube-embed/src/lite-yt-embed.js"></script>