<!-- ingredients modal - Ice Cream -->
<div class="modal modal-ingredients" id="modal-ingredients1" role="dialog" aria-labelledby="modal-title-icecream"
	data-modal="modal-ingredients1">

	<!-- Modal window title -->
	<h3 class="modal-ingredients__title" id="modal-title-icecream">Chololate icecream</h3>

	<!-- Modal ingredients thumb-->
	<div class="modal-ingredients__thumb">

		<img class="modal-ingredients__img" srcset="
        ./images/modal/choco-ice-cream.jpg 132w,
        ./images/modal/choco-ice-cream@2x.jpg 264w
      " sizes="(min-width:1200px) 132px, (min-width:768px) 132px, (min-width:480px) 132px, 100vw"
			src="./images/modal/choco-ice-cream.jpg" alt="Ice-cream" width="132" height="132" />
	</div>

	<!-- Modal ingredients list -->
	<ul class="modal-ingredients__list list">

		<li class="modal-ingredients__item">
			kcal<span class="modal-ingredients__span">320</span>
		</li>

		<li class="modal-ingredients__item">
			<div class="modal-ingredients__div">Protein</div>
			<span class="modal-ingredients__span">4g</span>
		</li>

		<li class="modal-ingredients__item">
			Fats<span class="modal-ingredients__span">8,2g</span>
		</li>

		<li class="modal-ingredients__item">
			Carbs
			<span class="modal-ingredients__span">40,4g</span>
		</li>
	</ul>

	<p class="modal-ingredients__paragraph">Ingredients</p>

	<ul class="modal-ingredients__components list">

		<li class="modal-ingredients__component">
			Milk<span class="modal-ingredients__component--span">100ml</span>
		</li>

		<li class="modal-ingredients__component">
			Belgian chocolate<span class="modal-ingredients__component--span">20g</span>
		</li>

		<li class="modal-ingredients__component">
			Cream<span class="modal-ingredients__component--span">150ml</span>
		</li>

		<li class="modal-ingredients__component">
			Cocoa powder<span class="modal-ingredients__component--span">30g</span>
		</li>

		<li class="modal-ingredients__component">
			Sugar<span class="modal-ingredients__component--span">40g</span>
		</li>

		<li class="modal-ingredients__component">
			Vanilla sugar<span class="modal-ingredients__component--span">10g</span>
		</li>
	</ul>

	<!-- Modal ingredients form -->
	<form class="modal-ingredients__form color-green" name="modal_form">

		<!-- Text fields wrapper -->
		<div class="modal-ingredients__field-group" role="group">

			<input class="modal-ingredients__field" type="text" name="user-name" pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}"
				title="Please type only letters, e.g. Boris Johnson" required id="user-name1" placeholder="Name"
				autocomplete="off" />

			<input class="modal-ingredients__field" type="tel" name="user-tel" pattern="[+\0-9]{10,}"
				title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits" required id="user-tel1"
				placeholder="Phone" autocomplete="off" />

			<textarea class="modal-ingredients__comment" name="user-message" id="user-message1" rows="3"
				placeholder="Comment"></textarea>

		</div>

		<!-- Form submit button -->
		<button class="modal-ingredients__btn button" type="submit">Submit</button>
	</form>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window"
		aria-controls="modal-ingredients1">
		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>
			<!-- <use href="./images/symbol-defs.svg#icon-menu-close"></use> -->
		</svg>
	</button>
</div>

<!-- ingredients modal - Ice Coffee -->
<div class="modal modal-ingredients" id="modal-ingredients2" role="dialog" aria-labelledby="modal-title-coffee"
	data-modal="modal-ingredients2">

	<!-- Modal window title -->
	<h3 class="modal-ingredients__title" id="modal-title-coffee">Ice coffee</h3>

	<!-- Modal ingredients thumb-->
	<div class="modal-ingredients__thumb color-yellow">

		<img class="modal-ingredients__img" srcset="
        ./images/buynow/jpeg/mobile/icecoffee.jpg 132w,
        ./images/buynow/jpeg/mobile/icecoffee@2x.jpg 264w
      " sizes="(min-width:1200px) 132px, (min-width:768px) 132px, (min-width:480px) 132px, 100vw"
			src="./images/buynow/jpeg/mobile/icecoffee.jpg" alt="Ice-late" width="132" height="132" />


	</div>

	<!-- Modal ingredients list -->
	<ul class="modal-ingredients__list list">
		<li class="modal-ingredients__item color-yellow">
			kcal<span class="modal-ingredients__span color-yellow">150</span>
		</li>
		<li class="modal-ingredients__item color-yellow">

			<div class="modal-ingredients__div">Protein</div>
			<span class="modal-ingredients__span color-yellow">1g</span>
		</li>
		<li class="modal-ingredients__item color-yellow">
			Fats<span class="modal-ingredients__span color-yellow">2,5g</span>
		</li>
		<li class="modal-ingredients__item color-yellow">
			Carbs
			<span class="modal-ingredients__span color-yellow">60,2g</span>
		</li>
	</ul>
	<p class="modal-ingredients__paragraph">Ingredients</p>
	<ul class="modal-ingredients__components list">
		<li class="modal-ingredients__component">
			Milk<span class="modal-ingredients__component--span">200ml</span>
		</li>
		<li class="modal-ingredients__component">
			Chocolate toping<span class="modal-ingredients__component--span">20g</span>
		</li>
		<li class="modal-ingredients__component">
			Water<span class="modal-ingredients__component--span">200ml</span>
		</li>
		<li class="modal-ingredients__component">
			Ice<span class="modal-ingredients__component--span">30g</span>
		</li>
		<li class="modal-ingredients__component">
			Sugar<span class="modal-ingredients__component--span">1g</span>
		</li>
		<li class="modal-ingredients__component">
			Vanilla sugar<span class="modal-ingredients__component--span">1g</span>
		</li>
	</ul>

	<!-- Modal ingredients form -->
	<form class="modal-ingredients__form color-yellow" name="modal_form">
		<div class="modal-ingredients__field-group" role="group">
			<input class="modal-ingredients__field color-yellow" type="text" name="user-name"
				pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}" title="Please type only letters, e.g. Boris Johnson" id="user-name2"
				placeholder="Name" required />
			<input class="modal-ingredients__field color-yellow" type="tel" name="user-tel" pattern="[+\0-9]{10,}"
				title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits" id="user-tel2" placeholder="Phone"
				required />
			<textarea class="modal-ingredients__comment color-yellow" name="user-message" id="user-message2" rows="3"
				placeholder="Comment"></textarea>
		</div>

		<!-- Form submit button -->
		<button class="modal-ingredients__btn button" type="submit">Submit</button>
	</form>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window"
		aria-controls="modal-ingredients2">
		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>
			<!-- <use href="./images/symbol-defs.svg#icon-menu-close"></use> -->
		</svg>
	</button>
</div>

<!-- ingredients modal - Milkshake -->
<div class="modal modal-ingredients" id="modal-ingredients3" role="dialog" aria-labelledby="modal-title-milkshake"
	data-modal="modal-ingredients3">

	<!-- Modal window title -->
	<h3 class="modal-ingredients__title" id="modal-title-milkshake">Milkshake</h3>

	<!-- Modal ingredients thumb-->
	<div class="modal-ingredients__thumb color-brown">

		<img class="modal-ingredients__img" srcset="
        ./images/buynow/jpeg/mobile/milkshake.jpg 132w,
        ./images/buynow/jpeg/mobile/milkshake@2x.jpg 264w
      " sizes="(min-width:1200px) 132px, (min-width:768px) 132px, (min-width:480px) 132px, 100vw"
			src="./images/buynow/jpeg/mobile/milkshake.jpg" alt="Ice-cream" width="132" height="132" />

	</div>
	<!-- Modal ingredients list -->
	<ul class="modal-ingredients__list list">
		<li class="modal-ingredients__item color-brown">
			kcal<span class="modal-ingredients__span color-brown">200</span>
		</li>
		<li class="modal-ingredients__item color-brown">
			<div class="modal-ingredients__div">Protein</div>
			<span class="modal-ingredients__span color-brown">2g</span>
		</li>
		<li class="modal-ingredients__item color-brown">
			Fats<span class="modal-ingredients__span color-brown">1,5g</span>
		</li>
		<li class="modal-ingredients__item color-brown">
			Carbs
			<span class="modal-ingredients__span color-brown">20g</span>
		</li>
	</ul>
	<p class="modal-ingredients__paragraph">Ingredients</p>
	<ul class="modal-ingredients__components list">
		<li class="modal-ingredients__component">
			Milk<span class="modal-ingredients__component--span">400ml</span>
		</li>
		<li class="modal-ingredients__component">
			Icecream<span class="modal-ingredients__component--span">200g</span>
		</li>
		<li class="modal-ingredients__component">
			Cream<span class="modal-ingredients__component--span">50g</span>
		</li>
		<li class="modal-ingredients__component">
			Chocolate toping<span class="modal-ingredients__component--span">30g</span>
		</li>
		<li class="modal-ingredients__component">
			Sugar<span class="modal-ingredients__component--span">1g</span>
		</li>
		<li class="modal-ingredients__component">
			Vanilla sugar<span class="modal-ingredients__component--span">1g</span>
		</li>
	</ul>

	<!-- Modal ingredients form -->
	<form class="modal-ingredients__form color-brown" name="modal_form">
		<div class="modal-ingredients__field-group" role="group">

			<input class="modal-ingredients__field color-brown" type="text" name="user-name"
				pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}" title="Please type only letters, e.g. Boris Johnson" id="user-name3"
				placeholder="Name" required />

			<input class="modal-ingredients__field color-brown" type="tel" name="user-tel" pattern="[+\0-9]{10,}"
				title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits" id="user-tel3" placeholder="Phone"
				required />

			<textarea class="modal-ingredients__comment color-brown" name="user-message" id="user-message3" rows="3"
				placeholder="Comment"></textarea>
		</div>

		<!-- Form submit button -->
		<button class="modal-ingredients__btn button" type="submit">Submit</button>
	</form>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window"
		aria-controls="modal-ingredients3">
		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>
			<!-- <use href="./images/symbol-defs.svg#icon-menu-close"></use> -->
		</svg>
	</button>
</div>