<!-- Our-location modal window -->
<div class="modal modal--our-location" id="modal-location" role="dialog" aria-labelledby="modal-title-location"
	data-modal="modal_our-location">

	<h3 class="modal-location__title" id="modal-title-location">Our Locations</h3>

	<!-- Map preview -->
	<iframe class="modal-location__map"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.820776299401!2d30.52663315161282!3d50.44443889557777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce54c1e48105%3A0x74d1d95832eb2407!2z0J7RhNGW0YEg0J_RgNC10LfQuNC00LXQvdGC0LAg0KPQutGA0LDRl9C90Lg!5e0!3m2!1sru!2sua!4v1666060436460!5m2!1sru!2sua"
		style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<form action="https://goo.gl/maps/7kWyBJUMn711UUKv6" target="_blank" rel="noreferrer noopener">

		<!-- Modal window button -->
		<button class="button modal-location__button">Open map</button>
	</form>

	<!-- CLose button -->
	<button class="close-btn js-modal-close" type="button" aria-label="Close modal window" aria-controls="modal-location">
		<svg class="close-button__icon" width="24" height="24">
			<use href="./images/symbol-defs.svg#close-btn"></use>
		</svg>
	</button>
</div>