<section class="section about section--light-text" id="about">
	<div class="container about__container">

		<!-- Section sup-heading -->
		<p class="sup-heading about">Tradition and Love</p>

		<!-- Section heading -->
		<h2 class="section-heading about__title">How It’s Made?</h2>

		<article class="about__description">

			<h3 class="visually-hidden">How we prepare our ice-cream</h3>

			<!-- Section image wrapper -->
			<div class="about__image-wrapper">
				<!-- Section image (cow) -->
				<picture>
					<source media="(min-width:1200px)" srcset="
              ./images/about/about-cow-desktop@1x.jpg 1x,
              ./images/about/about-cow-desktop@2x.jpg 2x
            " />

					<source media="(min-width:768px)" srcset="
              ./images/about/about-cow-tablet@1x.jpg  1x,
              ./images/about/about-cow-desktop@2x.jpg 2x
            " />

					<source media="(max-width:767px)" srcset="
              ./images/about/about-cow@1x.jpg 1x,
              ./images/about/about-cow@2x.jpg 2x
            " />

					<img class="about__image" src="./images/about/about-cow-desktop@1x.jpg" alt="Cow grazing on a green meadow" />
				</picture>
			</div>

			<!-- Section text wrapper -->
			<div class="about__text-wrapper">
				<!-- Section text -->
				<p class="about__paragraph">
					Ice is a place where you will become not only a little happier, but
					also healthier. Health is the main value for us, and we follow it when
					creating our handmade desserts.
				</p>

				<p class="about__paragraph">
					We use traditional recipes and 100% natural ingredients. Our products
					are so natural that they can be given to children from the age of
					three years. Sweets lovers can expect 55 types of ice cream, 15 types
					of coffee and 23 milkshakes.
				</p>

				<p class="about__paragraph paragraph--item">
					This is enough to choose ice cream and coffee for any mood!
				</p>

				<!-- Section button -->
				<button type="button" class="about__btn js-open-modal" data-modal="modal-video">
					Read more

					<svg class="chevron" width="12" height="12">
						<use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
					</svg>
				</button>
			</div>
		</article>

	</div>
</section>