<section class="section benefits" id="benefits">
	<div class="container benefits-container">
<p class="benefits-text">tradition and love</p>
<h2 class="benefits-title">how it’s made?</h2>

<article class="benefits-description">
	<div class="image-wrap">
		<picture>
<source media="(min-width:1200px)"
srcset="../images/about-cow-desktop@1x.jpg 1x,
../images/about-cow-desktop@2x.jpg 2x"> 

<source media="(min-width:768px)"
srcset="../images/about-cow-tablet@1x.jpg 1x,
../images/about-cow-desktop@2x.jpg 2x">

<source media="(max-width:767px)"
srcset="../images/about-cow@1x.jpg 1x,
../images/about-cow@2x.jpg 2x">
	
<img class="about-image"
	src="../images/about-cow-desktop@1x.jpg" 
	alt="Cow">
		</picture>
		</div>
	
	<div class="benefits-field">
		<p class="benefits-paragraph">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
		<p class="benefits-paragraph">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </p>
		<p class="benefits-paragraph paragraph-item">This is enough to choose ice cream and 
			coffee for any mood!</p>
		<button type="button" class="benefits-btn">Read more <svg class="about-icon" width="12" height="12"><use href="../symbol-defs.svg#icon-arrow-btn" ></use></svg></button>
	</div>
</article>


</div>
</section>