<section class="section benefits" id="benefits">
  <div class="container">
    <h2 class="benefits__title visually-hidden">Benefits</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-cow"></use>
          </svg>
        </div>
        <p class="benefits__info">721</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-weight"></use>
          </svg>
        </div>
        <p class="benefits__info">16kg</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <p class="benefits__info">84</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
