<section class="section benefits" id="benefits">
  <div class="benefints_container">
    <h2 class="benefits-title visually-hidden">Benefits</h2>
    <ul class="benefits_list">
      <li class="benefits_item">
        <div class="icon-wrapper">
          <svg class="benefits_icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-cow"></use>
          </svg>
        </div>
        <p class="benefits_info">721</p>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits_item">
        <div class="icon-wrapper">
          <svg class="benefits_icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-weight"></use>
          </svg>
        </div>
        <p class="benefits_info">16kg</p>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits_item">
        <div class="icon-wrapper">
          <svg class="benefits_icon" width="36" height="36">
            <use href="./images/benefits/symbol-defs.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <p class="benefits_info">84</p>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
