<section class="section contacts" id="contacts">
	<div class="container contacts__group">
		<address>
            <ul class="contacts__list list">
				<p class="place">
					<span class="contacts__title">cafe</span>
					
				</p>
              <li class="contacts__item">
				<p class="contacts__text--bold city">Chicago</p>
                <a
                  class="contacts__link--apricot link"
                  href=" "
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                  >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                >
              </li>
              <li class="contacts__item workhours">
                <p class="contacts__text--bold">Monday - Friday</p>
				<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
				<p class="contacts__text--bold">Saturday - Sunday</p>
				<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
              </li>
              <li class="contacts__item">
				<a class="contacts__text--bold link" href="tel:+610383766284"
				>+61(0) 383 766 284</a>
				<a class="contacts__text--bold link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a>               				
              </li>
            </ul>
          </address>
		  <address>
            <ul class="contacts__list list">
				<p class="place">
					<span class="contacts__title">food truck</span>
					
				</p>
              <li class="contacts__item">
				<p class="contacts__text--bold city">Los Angeles</p>
                <a
                  class="contacts__link--apricot link"
                  href=" "
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                  >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
                >
              </li>
              <li class="contacts__item workhours">
                <p class="contacts__text--bold">Monday - Friday</p>
				<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
				<p class="contacts__text--bold">Saturday - Sunday</p>
				<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
              </li>
              <li class="contacts__item">
				<a class="contacts__text--bold link" href="tel:+610383766284"
				>+61(0) 383 766 284</a>
				<a class="contacts__text--bold link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a>               				
              </li>
            </ul>
          </address>
		  <address>
            <ul class="contacts__list list">
				<p class="place">
					<span class="contacts__title">cafe</span>
					
				</p>
              <li class="contacts__item">
				<p class="contacts__text--bold city">New York</p>
                <a
                  class="contacts__link--apricot link"
                  href=" "
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                  >726 Sterling Pl, Brooklyn, NY 11222, USA</a
                >
              </li>
              <li class="contacts__item workhours">
                <p class="contacts__text--bold">Monday - Friday</p>
				<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
				<p class="contacts__text--bold">Saturday - Sunday</p>
				<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
              </li>
              <li class="contacts__item">
				<a class="contacts__text--bold link" href="tel:+610383766284"
				>+61(0) 383 766 284</a>
				<a class="contacts__text--bold link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a>               				
              </li>
            </ul>
          </address>
	</div>
</section>