<section class="section contacts" id="contacts">
	<div class="container">

		<!-- Section title -->
		<h2 class="visually-hidden">Our locations</h2>

		<!-- Contact cards -->
		<ul class="contacts__group">

			<!-- Contact card 1 - Chicago -->
			<li class="contacts__card">
				<address>

					<p class="place">
						<span class="contacts__title">cafe</span>
					</p>

					<ul class="contacts__list">

						<!-- Block 1 - Address -->
						<li class="contacts__item">
							<p class="city contacts__text--bold">Chicago</p>
							<a class="contacts__link" href="https://goo.gl/maps/jS8bBTxCYBUryYWt6" target="_blank"
								rel="noreferrer noopener nofollow">10340
								Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
						</li>

						<!-- Block 2 - Work hours -->
						<li class="contacts__item workhours">
							<p class="contacts__text--bold">Monday - Friday</p>
							<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
							<p class="contacts__text--bold">Saturday - Sunday</p>
							<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
						</li>

						<!-- Block 3 - Contacts -->
						<li class="contacts__item">
							<a class="link contacts__text--bold" href="tel:+610383766284">+61(0) 383 766 284</a>
							<a class="link contacts__text--bold" target="_blank" rel="noreferrer noopener nofollow"
								href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>
					</ul>
				</address>
			</li>

			<!-- Contact card 2 - Los Angeles -->
			<li class="contacts__card">
				<address>

					<p class="place">
						<span class="contacts__title">food truck</span>
					</p>

					<ul class="contacts__list">

						<!-- Block 1 - Address -->
						<li class="contacts__item">
							<p class="city contacts__text--bold">Los Angeles</p>
							<a class="contacts__link" href="https://goo.gl/maps/pFHQWJpUzBhm3pbi6" target="_blank"
								rel="noreferrer noopener nofollow">1003
								Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
						</li>

						<!-- Block 2 - Work hours -->
						<li class="contacts__item workhours">
							<p class="contacts__text--bold">Monday - Friday</p>
							<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
							<p class="contacts__text--bold">Saturday - Sunday</p>
							<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
						</li>

						<!-- Block 3 - Contacts -->
						<li class="contacts__item">
							<a class="link contacts__text--bold" href="tel:+610383766284">+61(0) 383 766 284</a>
							<a class="link contacts__text--bold" target="_blank" rel="noreferrer noopener nofollow"
								href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>

					</ul>
				</address>
			</li>

			<!-- Contact card 3 - New York -->
			<li class="contacts__card">
				<address>

					<p class="place">
						<span class="contacts__title">cafe</span>
					</p>

					<ul class="contacts__list">

						<!-- Block 1 - Address -->
						<li class="contacts__item">
							<p class="city contacts__text--bold">New York</p>
							<a class="contacts__link" href="https://goo.gl/maps/ErUr7effyfR34zXz8" target="_blank"
								rel="noreferrer noopener nofollow">726
								Sterling Pl, Brooklyn, NY 11222, USA</a>
						</li>

						<!-- Block 2 - Work hours -->
						<li class="contacts__item workhours">
							<p class="contacts__text--bold">Monday - Friday</p>
							<p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
							<p class="contacts__text--bold">Saturday - Sunday</p>
							<p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
						</li>

						<!-- Block 3 - Contacts -->
						<li class="contacts__item">
							<a class="link contacts__text--bold" href="tel:+610383766284">+61(0) 383 766 284</a>
							<a class="link contacts__text--bold" target="_blank" rel="noreferrer noopener nofollow"
								href="mailto:noreply@envato.com">noreply@envato.com</a>
						</li>

					</ul>
				</address>
			</li>

		</ul>

		<!-- Buttons -->
		<ul class="contacts__btn">

			<!-- Button Our Locations -->
			<li>
				<button class="contacts__button js-open-modal" data-modal="modal_our-location" type="button">
					Our Locations

					<svg class="chevron" width="12" height="12">
						<use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
					</svg>

				</button>
			</li>

			<!-- Button Franchise -->
			<li>
				<button class="contacts__button--transparent js-open-modal" data-modal="modal_franchise" type="button">
					Franchise

					<svg class="chevron" width="12" height="12">
						<use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
					</svg>

				</button>
			</li>

		</ul>

	</div>
</section>