<section class="section feedback" id="feedback">
	  <div class="container">
		<!-- <section id="testim" class="testim"> -->
		  <div class="feedback-cover">
			<div class="wrap">
			  <span
				id="right-arrow"
				class="arrow right fa fa-chevron-right"
			  ></span>
			  <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>
			  <ul id="feedback-dots" class="dots">
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			  </ul>
			  <div id="feedback-content" class="cont">
				<div class="active">
				  <div class="img">
					<img
					  src="./images/фото.jpg"
					  alt=""
					/>
				  </div>
				  <p class="description">
					  I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
				  </p>
				  <h2>Emily, Los Angeles</h2>
				</div>
  
				<div>
				  <div class="img">
					<img
					  src="./images/фото4.jpg"
					  alt=""
					/>
				  </div>
				  <p class="description">
					  Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
					</p>
					<h2>Bryan, New-York</h2>
				</div>
  
				<div>
				  <div class="img">
					<img
					  src="./images/фото3.jpg"
					  alt=""
					/>
				  </div>
				  <p class="description">
					  Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
					</p>
					<h2>Diana, Chicago</h2>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </div>
	  <script src="https://use.fontawesome.com/1744f3f671.js"></script>
  </section>