<section class="section feedback" id="feedback">
	<div class="container">

		<!-- Feedback cover -->
		<div class="feedback-cover">

			<div class="wrap">
				<span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
				<span id="left-arrow" class="arrow left fa fa-chevron-left"></span>

				<!-- Dots (pagination) -->
				<ul id="feedback-dots" class="dots">
					<li class="dot active"></li>
					<li class="dot"></li>
					<li class="dot"></li>
				</ul>

				<!-- Feedback content -->
				<div id="feedback-content" class="cont">

					<!-- Feedback item 1 -->
					<div class="active">
						<div class="img">
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto.webp    1x,
                    ./images/feedback/webp/foto@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto.jpg    1x,
                    ./images/feedback/jpeg/foto@2x.jpg 2x
                  " type="image/jpg" />
								<img src="./images/feedback/jpeg/foto.jpg" alt="some user" />
							</picture>
						</div>
						<p class="description">
							I love visiting your cafe. You prepare the most delicious ice
							cream in Los Angeles! In addition, you have beautiful serving,
							cozy atmosphere and polite staff.
						</p>
						<h2>Emily, Los Angeles</h2>
					</div>

					<!-- Feedback item 2 -->
					<div>
						<div class="img">
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto3.webp    1x,
                    ./images/feedback/webp/foto3@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto3.jpg    1x,
                    ./images/feedback/jpeg/foto3@2x.jpg 2x
                  " type="image/jpg" />
								<img src="./images/feedback/jpeg/foto3.jpg" alt="some user" />
							</picture>
						</div>
						<p class="description">
							Every day we come to you with friends after classes in college. We
							love your ice cream and casual atmosphere!
						</p>
						<h2>Bryan, New-York</h2>
					</div>

					<!-- Feedback item 3 -->
					<div>
						<div class="img">
							<picture>
								<source srcset="
                    ./images/feedback/webp/foto2.webp    1x,
                    ./images/feedback/webp/foto2@2x.webp 2x
                  " type="image/webp" />
								<source srcset="
                    ./images/feedback/jpeg/foto2.jpg    1x,
                    ./images/feedback/jpeg/foto2@2x.jpg 2x
                  " type="image/jpg" />
								<img src="./images/feedback/jpeg/foto2.jpg" alt="some user" />
							</picture>
						</div>
						<p class="description">
							Ice cream is my passion! I love your chocolate hazelnut ice cream!
							And I really like the excellent service - always served politely
							and quickly!
						</p>
						<h2>Diana, Chicago</h2>
					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- Script -->
	<script src="https://use.fontawesome.com/1744f3f671.js"></script>

</section>