<footer class="footer">
	<div class="container">

		<div class="footer__blocks">

			<!-- Text block -->
			<div class="footer__text-block">
				<p class="footer__title">Homemade ice cream made</p>
				<p class="footer__subtitle">with passion</p>
			</div>

			<!-- Contacts block -->
			<div class="footer__contact-block">

				<!-- Social media links -->
				<ul class="socials">

					<!-- Social media link 1 - Github -->
					<li class="socials__item">

						<a class="socials__link" href="https://github.com/dev0652/icecream" aria-label="Github icon" target="_blank"
							rel="noopener norefferer">

							<svg class="socials__icon" width="20" height="20">
								<use href="./images/symbol-defs.svg#icon-git"></use>
							</svg>

						</a>
					</li>

					<!-- Social media link 2 - Telegram -->
					<li class="socials__item">

						<a class="socials__link" href="https://telegram.org/" aria-label="Telegram icon" target="_blank"
							rel="noopener norefferer">

							<svg class="socials__icon" width="20.4" height="15.87">
								<use href="./images/symbol-defs.svg#icon-telegram"></use>
							</svg>

						</a>
					</li>

					<!-- Social media link 3 - Facebook -->
					<li class="socials__item">

						<a class="socials__link" href="https://facebook.com" aria-label="Facebook icon" target="_blank"
							rel="noopener norefferer">

							<svg class="socials__icon" width="9.35" height="20.4">
								<use href="./images/symbol-defs.svg#icon-facebook"></use>
							</svg>

						</a>
					</li>

				</ul>

				<!-- Telephone -->
				<p class="footer__contact">
					Feel free to contact
					<a class="footer__contact--white" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
				</p>

			</div>
		</div>

		<!-- Copyright -->
		<div class="footer__copyright">
			<p>&#169; 2022 - IceCream.</p>
			<p>All Rights Reserved.</p>
		</div>
	</div>
</footer>