<section class="section gallery">
  <div class="container">
	<div class="gallery__thumb" id="animation">
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/mobile/ice-creame-mobile.jpg" alt="Морозиво з чорницями" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/mobile/ice-creame-2-mobile.jpg" alt="Морозиво в підстаці" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/mobile/ice-creame-3-mobile.jpg"
			alt="Два ріжка морозива в шоколаді" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/mobile/ice-creame-4-mobile.jpg"
			alt="Морозиво з лавандовими квітами" />

	</div>
  </div>
</section>
