<section class="section gallery">
    <div class="container">
        <div class="gallary__thumb" id="animation">
            <img
              class="gallery__img"
              src="./images/gallery/ice cream/ice-creame.jpg"
              alt="Морозиво"
            />
            <img
            class="gallery__img"
            src="./images/gallery/ice cream/ice-creame-second.jpg"
            alt="Морозиво"
          />
          <img
          class="gallery__img"
          src="./images/gallery/ice cream/ice-creame-fourth.jpg"
          alt="Морозиво"
        />
        <img
        class="gallery__img"
        src="./images/gallery/ice cream/ice-creame-fifth.jpg"
        alt="Морозиво"
      />

        </div>
    </div>
</section>
