<section class="section gallery">
  <div class="container">
	<div class="gallery__thumb" id="animation">
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/desktop/ice-creame-desktop.jpg" alt="six cones of ice cream with currants" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/desktop/ice-creame-2-desktop.jpg" alt="four ice cream cones in a stand" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/desktop/ice-creame-3-desktop.jpg"
			alt="two cones of ice cream in chocolate" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/desktop/ice-creame-4-desktop.jpg"
			alt="two ice cream cones with a bouquet of flowers" />
		<img class="gallery__img" src="./images/gallery/ice-cream__jpg/desktop/ice-creame-5-desktop.jpg"
			alt="five ice cream cones in jars" />
	</div>
  </div>
</section>
