<header class="header" data-header>
	<div class="container header__container">
		<!-- Logo -->
		<a class="logo header__logo" href="" aria-label="Icecream logo">
			<svg class="logo__img" width="60" height="65">
				<use href="./images/symbol-defs.svg#icon-logo"></use>
			</svg>
		</a>

		<!-- Header navigation -->
		<nav class="nav">
			<ul class="nav__list list">

				<!-- Nav item 1 - Home -->
				<li class="nav__item">
					<a class="nav__link link" href="#hero">Home</a>
				</li>

				<!-- Nav item 2 - How it's made -->
				<li class="nav__item">
					<a class="nav__link link" href="#about">How it's made? </a>
				</li>

				<!-- Nav item 3 - Our products -->
				<li class="nav__item">
					<a class="nav__link link" href="#products">Our products</a>
				</li>

				<!-- Nav item 4 - Contacts -->
				<li class="nav__item">
					<a class="nav__link link" href="#contacts">Contacts</a>
				</li>
			</ul>
		</nav>

		<!-- Burger button & header button wrapper -->
		<div class="header__group">

			<!-- Mobile menu open button (burger) -->
			<button class="burger-button menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">

				<svg width="32" height="32">
					<use href="./images/symbol-defs.svg#icon-menu-open"></use>
				</svg>

			</button>

			<!-- Header button (Buy Now) -->
			<button class="header__btn header__btn--main js-open-modal" data-modal="modal-buynow" type="button"
				data-modal-open>
				Buy now

				<svg class="chevron" width="12" height="12">
					<use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
				</svg>

			</button>
		</div>
	</div>
</header>

<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
	<!-- Mobile menu logo -->
	<a class="header__logo logo" href="" aria-label="Icecream logo">
		<svg class="logo__img" width="60" height="65">
			<use href="./images/symbol-defs.svg#icon-logo"></use>
		</svg>
	</a>

	<!-- Mobile menu close button -->
	<button class="menu-toggle js-close-menu">

		<svg width="32" height="32" viewBox="0 0 20 20">
			<use href="./images/symbol-defs.svg#icon-menu-close"></use>
			>
		</svg>
	</button>

	<!-- Mobile menu  -->
	<ul class="mobile-menu">

		<li class="mobile-menu-item active">
			<a class="mobile-menu-link link" href="">Home</a>
		</li>

		<li class="mobile-menu-item">
			<a class="mobile-menu-link link" href="">How it's made? </a>
		</li>

		<li class="mobile-menu-item">
			<a class="mobile-menu-link link" href="">Our products </a>
		</li>

		<li class="mobile-menu-item">
			<a class="mobile-menu-link link" href="">Contact </a>
		</li>

	</ul>

	<!-- Mobile menu button (Buy Now) -->
	<button class="header__btn header__btn--mobile js-open-modal" data-modal="modal-buynow" type="button" data-modal-open>
		Buy now

		<svg class="chevron" width="12" height="12">
			<use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
		</svg>

	</button>
</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
	integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
	crossorigin="anonymous"></script>

<!-- End of Header -->