<!-- Модалка read more -->

<div class="overlay js-overlay-modal">
    <div class="modal modal-video" data-modal="modal-video">
      <svg class="close-btn js-modal-close">
        <use href="./images/symbol-defs.svg#close-btn"></use>
      </svg>
      <div class="modal-video__body">
<p class="video__title">How it’s made?</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8WEMZ86Eho8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p class="video__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>
</div>