<section class="section products" id="products">
	<div class="container">

		<!-- Section sup-heading -->
		<p class="sup-heading">100% Natural</p>

		<!-- Section-heading -->
		<h2 class="section-heading">Products</h2>

		<!-- Product cards -->
		<ul class="card-set product-cards ">

			<!-- Product card item 1 - Ice Cream -->
			<li class="card-set__item product-card">

				<!-- Product card image -->
				<picture class="product-card__image"></picture>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Ice cream</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
					</p>

				</div>
			</li>

			<!-- Product card item 2 - Ice Coffee -->
			<li class="card-item product-card">

				<!-- Product card image -->
				<picture class="product-card__image"></picture>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Ice Coffee</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
						flavor enhancers
					</p>

			</li>

			<!-- Product card item 3 - Milkshakes -->
			<li class="card-item product-card">

				<!-- Product card image -->
				<picture class="product-card__image"></picture>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Milkshakes</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
						choice
					</p>

			</li>

		</ul>

	</div>
</section>