<section class="section products" id="products">
	<div class="container">

		<!-- Section sup-heading -->
		<p class="sup-heading">100% Natural</p>

		<!-- Section-heading -->
		<h2 class="section-heading">Products</h2>

		<!-- Product cards -->
		<ul class="card-set product-cards">

			<!-- Product card item 1 - Ice Cream -->
			<li class="card-set__item product-card">

				<!-- Product card image wrapper -->
				<div class="product-card__image-wrapper">

					<picture class="product-card__image">

						<!-- Desktop -->
						<source media="(min-width: 1200px)"
							srcset="./images/products/webp/desktop/image1.webp 1x, ./images/products/webp/desktop/image1@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image1.jpg 1x, ./images/products/jpeg/desktop/image1@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Mobile & Tablet -->
						<source media="(max-width: 1199px)"
							srcset="./images/products/webp/tablet/image1.webp 1x, ./images/products/webp/tablet/image1@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image1.jpg 1x, ./images/products/jpeg/desktop/image1@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Default -->
						<img src="./images/products/jpeg/desktop/image1.jpg" alt="Colorful ice-cream cones." loading="lazy" />

					</picture>
				</div>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Ice cream</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
					</p>

				</div>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" data-modal="modal-ingredients1" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

			<!-- Product card item 2 - Ice Coffee -->
			<li class="card-item product-card">

				<!-- Product card image wrapper -->
				<div class="product-card__image-wrapper">

					<picture class="product-card__image">

						<!-- Desktop -->
						<source media="(min-width: 1200px)"
							srcset="./images/products/webp/desktop/image2.webp 1x, ./images/products/webp/desktop/image2@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image2.jpg 1x, ./images/products/jpeg/desktop/image2@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Mobile & Tablet -->
						<source media="(max-width: 1199px)"
							srcset="./images/products/webp/tablet/image2.webp 1x, ./images/products/webp/tablet/image2@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image2.jpg 1x, ./images/products/jpeg/desktop/image2@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Default -->
						<img src="./images/products/jpeg/desktop/image2.jpg" alt="Ice latte." loading="lazy" />

					</picture>
				</div>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Ice Coffee</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
						flavor enhancers
					</p>

				</div>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" data-modal="modal-ingredients2" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

			<!-- Product card item 3 - Milkshakes -->
			<li class="card-item product-card">

				<!-- Product card image wrapper -->
				<div class="product-card__image-wrapper">

					<picture class="product-card__image">

						<!-- Desktop -->
						<source media="(min-width: 1200px)"
							srcset="./images/products/webp/desktop/image3.webp 1x, ./images/products/webp/desktop/image3@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image3.jpg 1x, ./images/products/jpeg/desktop/image3@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Mobile & Tablet -->
						<source media="(max-width: 1199px)"
							srcset="./images/products/webp/tablet/image3.webp 1x, ./images/products/webp/tablet/image3@2x.webp 2x"
							type="image/webp"
							srcset="./images/products/jpeg/desktop/image3.jpg 1x, ./images/products/jpeg/desktop/image3@2x.jpg 2x"
							type="image/jpeg" />

						<!-- Default -->
						<img src="./images/products/jpeg/desktop/image3.jpg" alt="Milkshake with chocolate topping."
							loading="lazy" />

					</picture>
				</div>

				<!-- Product card meta -->
				<div class="product-card__meta">

					<!-- Product card heading -->
					<h3 class="product-card__heading">Milkshakes</h3>

					<!-- Product card text -->
					<p class="product-card__text">
						Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your
						choice
					</p>

				</div>

				<!-- Arrow (link) -->
				<a class="product-card__link js-open-modal" data-modal="modal-ingredients3" href="#">
					<svg class="product-card__arrow" width="40" height="16">
						<use href="./images/symbol-defs.svg#icon-arrow"></use>
					</svg>
				</a>

			</li>

		</ul>

	</div>
</section>