<div class="modal overlay js-overlay-modal modal-video" data-modal="overlay">
    <div class="modal" data-modal="1">
        <button type="close" js-modal-close><svg class="modal__cross js-modal-close"><use></use></svg></button>
        <p class="modal-title">How it’s made?</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2P_avDlig-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<!-- <div class="overlay js-overlay-modal"></div> -->
