<div class="container test-white">

	<ul class="test-list">

		<li class="test-list__item">
			<input class="test-checkbox" type="checkbox" name="product" id="order-icecream" value="icecream" />
			<label class="test-label test-label--icecream" for="order-icecream">Ice Cream</label>
		</li>

		<li class="test-list__item">
			<input class="test-checkbox" type="checkbox" name="product" id="order-icecoffee" value="icecoffee" />
			<label class="test-label test-label--icecoffee" for="order-icecoffee">Ice Coffee</label>
		</li>

		<li class="test-list__item">
			<input class="test-checkbox" type="checkbox" name="product" id="order-milkshake" value="milkshake" />
			<label class="test-label test-label--milkshake" for="order-milkshake">Milkshake</label>
		</li>

	</ul>

</div>