/* Headings */

.section-heading {
  font-family: $secondary-font;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;

  font-size: rem(30);
  line-height: 38px;
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: rem(34);
    line-height: 43px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $desktop) {
    font-size: rem(36);
    line-height: 45px;
  }
}

.sup-heading {
  font-weight: 800;
  text-transform: uppercase;

  margin-bottom: 12px;

  font-size: rem(18);
  line-height: 22px;

  @media screen and (min-width: $tablet) {
    font-size: rem(22);
    line-height: 27px;
  }

  @media screen and (min-width: $desktop) {
    font-size: rem(30);
    line-height: 37px;
  }
}
