/* Стили для подложки */
body.modal-open {
  overflow: hidden;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  height: 100vh;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;

  border: 2px solid $accent;
  border-radius: $border-radius-button;
  background-color: $text-light;

  transition: 0.4s all;

  &.active {
    transform: translate(-50%, -50%);
  }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
