// Franchise modal window

.modal--franchise {
  // max-height: 674px;
  min-width: 280px;
  padding: 26px;

  @media screen and (min-width: $tablet) {
    max-height: 712px;
    min-width: 568px;
    padding: 30px 58px;
  }
}

.modal-franchise__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 221px;
  margin-bottom: 20px;

  font-family: $secondary-font;
  @include fz-lh(15, 24);

  color: $text-dark;

  @media screen and (min-width: $tablet) {
    max-width: 332px;
    margin-bottom: 24px;
    @include fz-lh(20, 28);
  }
}

.modal-franchise__description {
  max-width: 222px;
  margin-bottom: 24px;
  text-align: start;

  @include fz-lh(14, 20);

  @media screen and (min-width: $tablet) {
    max-width: 450px;
    margin-bottom: 32px;
    @include fz-lh(16, 22);
  }
}
.modal-franchise__form {
  @include form-outline($bg-primary);
}

.modal-franchise__field-group {
  @extend %flex-centered;

  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
}

.modal-franchise__input {
  width: 224px;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;

  font-family: $primary-font;
  @include fz-lh(12, 17);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-primary;
  border-radius: $border-radius-button;

  outline-offset: -1px;
  color: $text-dark;

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;

    @include fz-lh(14, 20);
  }

  &:not(:placeholder-shown):invalid {
    outline: 3px solid red !important;
    background: rgba(100, 0, 0, 0.1);
  }
}

.modal-franchise__message {
  width: 224px;
  height: 64px;
  padding: 7px 12px;
  margin-bottom: 24px;

  resize: none;

  font-family: $primary-font;
  @include fz-lh(12, 17);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-primary;
  border-radius: $border-radius-button;

  outline-offset: -1px;
  color: $text-dark;

  @media screen and (min-width: $tablet) {
    width: 368px;
    height: 84px;
    padding: 10px 16px;
    margin-bottom: 32px;

    @include fz-lh(14, 20);
  }
}

.modal-franchise__button {
  min-width: 114px;
  min-height: 42px;
  padding: 12px 34px;

  @include fz-lh(12, 15);

  border: none;
  background-color: $accent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $contrast;
  }

  &:focus {
    color: #ffffff;
  }

  &:disabled {
    background-color: $inactive;
  }

  @media screen and (min-width: $tablet) {
    min-width: 121px;
  }
}
