.about {
  background-color: $bg-primary;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title {
  max-width: 200px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    max-width: none;
    margin-bottom: 72px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

// Image wrapper

.about__image-wrapper {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 50%;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

  max-width: 279px;
  width: 100%;
  height: 100%;

  margin-top: 0;
  margin-bottom: 62px;

  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    width: 330px;
    max-width: 330px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    width: 490px;
    max-width: 490px;
  }

  // animation-name: bounce-in-top;
  // animation-duration: 3000ms;
}

// About image

.about__image {
  display: block;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  top: 22px;

  max-width: 279px;
  width: 100%;

  @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
    width: 330px;
    top: 26px;
  }

  @media screen and (min-width: $desktop) {
    width: 490px;
    max-width: 490px;
    top: 39px;
  }
}
// animation
.bounce-in-top {
  animation-name: bounce-in-top;
  animation-duration: 3000ms;
}

// Section text

.about__text-wrapper {
  @extend %flex-centered;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 121px;
  }
}

.about__paragraph {
  text-align: center;
  max-width: 220px;

  @media screen and (min-width: $tablet) {
    line-height: 176%;
    text-align: left;
    max-width: none;
  }

  @media screen and (min-width: $desktop) {
    @include fz-lh(14, 27);

    text-align: justify;
  }
}

.about__paragraph:first-child {
  @media screen and (min-width: $desktop) {
    @include fz-lh(16, 28);
  }
}

.about__paragraph:nth-child(2n) {
  line-height: 162%;
  margin-bottom: 10px;
}

.about__paragraph:nth-child(-n + 2) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
  }
}

.about__paragraph:last-of-type {
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 54px;
  }
}
.paragraph--item {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
// About button

.about__btn {
  @extend .button--accented;
  @extend %flex-centered;

  min-width: 164px;
}

.about__description {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 38px;
  }

  @media screen and (min-width: $desktop) {
    gap: 109px;
  }
}
