.about {
    background-color: #84A178;
    
}
.benefits-container {
    display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content: center;
}
.benefits-text {
    font-family: 'Montserrat';
    font-weight: 700;
font-size: 18px;

text-align: center;
color: #FCFCFC;
text-transform: uppercase;
line-height: 22px;

margin-bottom: 12px;

@media screen and (min-width:768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

@media screen and (min-width:1200px) {
    font-size: 30px;
    line-height: 37px;
}
}

.benefits-title {

    font-family: 'Seymour One';

    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 38px;

    text-align: center;
    color:#FCFCFC;

    text-transform: uppercase;

    margin-bottom: 32px;

    max-width: 200px;

    display:block;

    @media screen and (min-width:768px) {
        font-size: 34px;
        line-height: 43px;
        letter-spacing: 0.06em;
        max-width: none;
        margin-bottom: 72px;
    }

    @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height:45px;

        margin-bottom:82px;
    }
}

// About image

.about-image {
    display: block;
    border-radius: 50%;

    position: relative;
    top: 22px;

    max-width: 279px;
    width:100%;
   
    @media screen and (min-width:768px) and (max-width:1199px){
        width: 330px;
        top:26px;
    }

    @media screen and (min-width:1200px) {
        width:490px;
        max-width: 490px;
        top: 39px;
    }
}

.image-wrap {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    border-radius: 50%;
    // border-radius: 140px;
    max-width:279px;
    width:100%;
   
    margin-top: 0;
    margin-bottom: 62px;

    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

    @media screen and (min-width:768px) and (max-width:1199px){
        width: 330px;
        margin-bottom: 0px;
    }

    @media screen and (min-width:1200px) {
        width:490px;
        max-width:490px;
        margin-bottom: 0px;

       
    }
}

.benefits-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (min-width:1200px) {
    margin-right: 121px;
    
  }
}


.benefits-paragraph {
font-family: 'Montserrat';
font-size: 12px;
line-height: 19px;

text-align: center;
letter-spacing: 0.04em;

color: #FCFCFC;

max-width: 220px;

@media screen and (min-width:768px) {
    line-height: 21px;
    text-align: left;
    max-width:none;
}

@media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 27px;

    text-align:justify;
}

}

.benefits-paragraph:first-child {
    line-height: 21px;

    @media screen and (min-width:1200px) {
    font-size:16px;
    line-height: 28px;

    }
}

.benefits-paragraph:nth-child(2n) {
    margin-bottom: 10px;
}

.benefits-paragraph:nth-child(-n + 2) {
    @media screen and (min-width:768px) {
        margin-bottom: 8px;
    }
}

.benefits-paragraph:last-of-type {
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 54px;
    }
}
.paragraph-item {
    display:none;
    @media screen and (min-width:768px) {
        display:block;
    }
}
// About button

.benefits-btn {
    width: 164px;
    height: 42px;
    background-color: #F8D24E;
    border-radius: 10px;

    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;

    font-weight: 600;
    line-height: 18px;
    color: #000000;
    border-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-btn:focus {
    background-color: #0A8817;
    color: #FCFCFC;
    fill: #FCFCFC;
}

.benefits-btn:hover {
    background-color: #0A8817;
}

.about-icon {
    margin-left: 4px;
}

.benefits-description {
    @media screen and (min-width:768px) {
        display:flex;
        gap: 38px;
    }

    @media screen and (min-width:1200px) {
        gap: 109px;
    }
}


