.benefits {
  background-color: $bg-primary;
}

.benefits__list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 28px;
  }

  @media screen and (min-width: $tablet) {
    gap: 80px;
    margin-bottom: 118px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.benefits__item {
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 80px * 2) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 32px * 2) / 3);
  }

  &:hover .benefits__icon-wrapper {
    transform: scale(1.5);
  }

  &:hover .benefits__info {
    transform: scale(1.3) translateY(7%);
  }
}

.benefits__icon-wrapper {
  background-color: $accent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding: 7px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
  @include transition(transform);
}

.benefits__info {
  font-weight: 700;
  @include fz-lh(36, 44);

  padding-bottom: 16px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    @include fz-lh(48, 59);
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop) {
    @include fz-lh(58, 72);
  }

  @include transition(transform);
}

.benefits__text {
  text-align: center;
  letter-spacing: 0.02em;
  @include fz-lh(12, 20);

  @media screen and (min-width: $tablet) {
    @include fz-lh(14, 24);
  }

  @media screen and (min-width: $desktop) {
    @include fz-lh(16, 28);
  }
}
