/* ---------- Common ---------- */

:root {
	font-family: $primary-font;
	font-size: $primary-font-size;
}

body {
	&.scroll-locked {
		overflow: hidden;
	}
}

.container {
	padding-left: $container-padding;
	padding-right: $container-padding;

	margin-left: auto;
	margin-right: auto;

	@include media(mobile) {
		width: $mobile;
	}
	@include media(tablet) {
		width: $tablet;
	}
	@include media(desktop) {
		// width: $desktop + ($container-padding * 2);
		width: $desktop;
	}
}

// .overlay {
// 	max-width: 1600px;
// 	margin: 0 auto;
// }

.section {
	padding: $section-padding 0;

	&.dark-text {
		color: $text-dark;
	}

	&.light-text {
		color: $text-light;
	}
}

/* Links */

.link,
%link {
	font-weight: 700;
	font-size: inherit;
	color: currentColor;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent;
	}
}

/* SVG icons */

.icon {
	fill: currentColor;

	@include transition(fill);
}

/* Buttons */

.button,
%button {
	font-weight: 600;

	color: $text-dark;
	background-color: transparent;
	@include transition-multiple(color, background-color);

	border: 1px solid $accent;
	border-radius: $border-radius-button;
	padding: 12px 40px;

	&:hover,
	&:focus {
		border-color: $accent-secondary;
	}

	&:focus {
		color: $text-light;
	}

	&:disabled {
		border-color: $inactive;
	}
}

.button--accented,
%button--accented {
	&:hover {
		background-color: $accent-secondary;
	}

	&:focus {
		background-color: $accent-secondary;
	}

	&:disabled {
		background-color: $inactive;
	}
}

.button--suffix,
%button--suffix {
	&::after {
		content: " >";
	}
}

/* Headings */

.section-heading {
	font-family: &secondary-font;
	text-transform: uppercase;

	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.04em;

	@media screen and (min-width: $tablet) {
		font-size: 34px;
		line-height: 43px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 36px;
		line-height: 45px;
		letter-spacing: 0.06em;
	}
}

.sup-heading {
	font-weight: 800;
	text-transform: uppercase;

	font-size: 18px;
	line-height: 22px;

	@media screen and (min-width: $tablet) {
		font-size: 22px;
		line-height: 27px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 30px;
		line-height: 37px;
		letter-spacing: 0.04em;
	}
}
