.contacts {
  background-color: $bg-primary;
}

.place {
  margin-bottom: 32px;
}

.contacts__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: rem(12);
  margin-top: calc(($section-padding + 353px) * -1);

  @media screen and (min-width: $tablet) {
    flex-direction: initial;
    font-size: rem(14);
    margin-top: calc(($section-padding + 299px) * -1);
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
    font-size: rem(16);
    margin-top: calc(($section-padding + 128px) * -1);
  }
}
.contacts__card {
  padding: 40px 32px 24px 32px;
  max-width: 280px;

  @media screen and (min-width: $tablet) {
    max-width: 224px;
    padding: 40px 24px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 368px;
    padding: 40px 40px;
  }

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: $border-radius-card;

  @include transition-multiple(transform, box-shadow);

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }
}

.contacts__title {
  font-weight: 500;
  padding: 4px 15px;
  background: $accent;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.contacts__link--apricot {
  font-weight: 500;
  line-height: calc(29 / 16);
  color: $bg-tertiary;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 24px;
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.city {
  margin-bottom: 8px;
}

.contacts__text--bold {
  font-weight: 500;
  line-height: calc(30 / 16);
  color: $text-dark;
}

.contacts__text--grey {
  font-weight: 500;
  line-height: calc(30 / 16);
  color: $inactive;
}

.workhours::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts__btn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 16px;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: initial;
    margin-top: 40px;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
    justify-content: center;
  }
}

.contacts__button {
  @extend .button--accented;
  @extend %flex-centered;
  min-width: 196px;
}

.contacts__button--transparent {
  @extend .button;
  @extend %flex-centered;

  min-width: 196px;
}
