.feedback {
  padding-top: 80px;
  padding-bottom: 417px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 404px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 140px;
    padding-bottom: 254px;
  }
}

.feedback-cover:hover .feedback-wrapper {
  overflow: visible;
}

.feedback-wrapper {
  position: relative;
  width: 100%;
  max-width: 280px;
  margin: auto;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    max-width: 1013px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 10px;
  }
}

.feedback-wrapper:hover {
  overflow: visible;
}

.arrow {
  // display: none;
  position: absolute;
  color: #333;
  cursor: pointer;
  font-size: 3em;
  font-weight: 500;
  top: 53%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.arrow:before {
  cursor: pointer;
}

.arrow:hover {
  color: green;
}

.arrow.left {
  left: -30px;
}

.arrow.right {
  right: -30px;
}

.review__text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  height: 256px;
  padding: 35px 39px;
  background: $bg-primary;
  border-radius: $border-radius-button;
  @include fz-lh(12, 31);
  color: $text-light;

  @media screen and (min-width: $tablet) {
    max-width: 705px;
    height: 138px;
    padding: 28px 80px;
    border-radius: $border-radius-card;
    font-weight: 500;
    @include fz-lh(14, 26);
  }

  @media screen and (min-width: $desktop) {
    max-width: 968px;
    padding: 42px 73px;
    font-size: rem(16);
  }
}

.feedback-dots {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: url(../images/cursor-filled.svg), pointer;

  transition: all 0.5s ease-in-out;
  position: relative;

  &.active,
  &:hover,
  &:focus {
    background: $bg-primary;
  }

  &.active {
    animation: feedback-scale 0.5s ease-in-out forwards;
  }
}

.feedback-content {
  position: relative;
  margin-bottom: 32px;
}

.review {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  &.inactive {
    opacity: 0;

    & .review__image {
      animation: feedback-hide 0.5s ease-in-out forwards;
    }

    & .review__author {
      animation: feedback-content-out 0.4s ease-in-out forwards;
    }

    & .review__text {
      animation: feedback-content-out 0.5s ease-in-out forwards;
    }
  }

  &.active {
    position: relative;
    opacity: 1;

    & .review__image {
      animation: feedback-show 0.5s ease-in-out forwards;
    }

    & .review__author {
      animation: feedback-content-in 0.4s ease-in-out forwards;
    }

    & .review__text {
      animation: feedback-content-in 0.5s ease-in-out forwards;
    }
  }
}

.review__image {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.review__author {
  font-weight: 500;
  font-size: rem(20);
  line-height: 1.86;
  text-align: center;
  color: $text-dark;

  @media screen and (min-width: $tablet) {
    font-size: rem(16);
  }
}
