.modal-video {
  width: 280px;
  height: auto;
  padding: 28px 28px;

  @media screen and (min-width: $tablet) {
    width: 568px;
    padding: 32px 60px;
  }
}

.video__title {
  font-family: 'Seymour One';
  font-size: rem(16);
  line-height: 24px;
  color: $text-dark;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: rem(20);
    line-height: 28px;

    margin-bottom: 32px;
  }
}

.video__text {
  font-family: $primary-font;
  font-size: rem(14);
  line-height: 20px;
  color: $text-dark;

  text-align: left;

  margin-top: 20px;

  @media screen and (min-width: $tablet) {
    font-size: rem(16);
    line-height: 22px;

    margin-top: 32px;

    text-align: justify;
  }
}

.video__content {
  width: 224px;
  height: auto;

  @media screen and (min-width: $tablet) {
    width: 448px;
    height: 205px;
  }
}
