.modal-ingredients {
  max-height: 968px;
  max-width: 280px;
  padding: 26px 18px;

  @media screen and (min-width: 768px) {
    max-height: 996px;
    min-width: 568px;
    padding: 32px 40px;
  }
}

.modal-ingredients__title {
  min-width: 142px;
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);

  color: #131313;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.modal-ingredients__thumb {
  height: 139px;
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;

  border-radius: 50%;
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  &--yellow {
    background-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }

  &--brown {
    background-color: rgba(213, 117, 63, 0.7);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.modal-ingredients__list {
  @extend %flex-centered;
  gap: 9px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-ingredients__div {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    max-width: 45px;
  }
}

.modal-ingredients__item {
  @extend %flex-centered;
  box-sizing: border-box;

  position: relative;
  min-width: 53px;
  height: 72px;
  padding-top: 52px;
  padding-bottom: 8px;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  border: 2px solid #9cbe8f;
  border-radius: 40px;
  color: #131313;

  &--yellow {
    border: 2px solid rgba(248, 210, 78, 0.7);
  }

  &--brown {
    border: 2px solid rgba(213, 117, 63, 0.7);
  }

  @media screen and (min-width: 768px) {
    min-width: 65px;
    height: 90px;
    padding-top: 61px;
    padding-bottom: 14px;

    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.modal-ingredients__span {
  @extend %flex-centered;

  box-sizing: border-box;

  position: absolute;
  width: 43px;
  height: 43px;
  left: 3px;
  top: -1px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);

  border-radius: 50px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  &--yellow {
    border: 2px solid rgba(248, 210, 78);
    background-color: rgba(248, 210, 78);
  }

  &--brown {
    border: 2px solid rgba(213, 117, 63);
    background-color: rgba(213, 117, 63);
  }

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    left: 4px;
    top: -1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.modal-ingredients__paragraph {
  margin-bottom: 24px;

  font-family: $primary-font;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  color: #131313;
}

.modal-ingredients__components {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.modal-ingredients__component {
  display: flex;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;

  color: rgba(19, 19, 19, 1);

  &--span {
    margin-left: auto;
  }
}

.modal-igredients__form {
  @extend %flex-centered;
  flex-direction: column;
  gap: 16px;
}

.modal-ingredients__form-field {
  width: 240px;
  height: 42px;
  padding-left: 10.5px;
  padding-right: 10.5px;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  outline-offset: -1px;
  color: #131313;

  &--yellow {
    border: 1px solid rgba(248, 210, 78);
  }

  &--brown {
    border: 1px solid rgba(213, 117, 63);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.modal-ingredients__form-message {
  width: 240px;
  height: 84px;
  padding: 11px 10.5px;
  margin-bottom: 24px;

  resize: none;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  outline-offset: -1px;
  color: #131313;

  &--yellow {
    border: 1px solid rgba(248, 210, 78);
  }

  &--brown {
    border: 1px solid rgba(213, 117, 63);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
  }
}

.modal-ingredients__btn {
  min-width: 132px;
  min-height: 42px;
  padding: 12px 34px;

  font-size: 14px;
  line-height: calc(17 / 14);

  border: none;
  background-color: #f8d24e;

  &:hover,
  &:focus {
    background-color: #0a8817;
  }

  &:focus {
    color: #ffffff;
  }

  &:disabled {
    background-color: #ababab;
  }

  @media screen and (min-width: 768px) {
    min-width: 121px;
  }
}
