// Product cards

section.products {
  text-align: center;

  .section-heading {
    margin-bottom: 148px;

    @media screen and (min-width: $tablet) {
      // margin-bottom: 80px;
      margin-bottom: 200px;
    }

    @media screen and (min-width: $desktop) {
      // margin-bottom: 120px;
      margin-bottom: 303px;
    }
  }
}

.product-cards {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: calc($tablet - 1px)) {
    row-gap: 168px;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 29px;
  }
}

.product-card {
  position: relative;

  border-radius: $border-radius-card;
  color: $text-dark;

  // As a container
  display: flex;
  flex-direction: column;
  align-items: center;

  // As a flex element
  flex-basis: 280px;
  max-width: 280px;

  padding: 123px 40px 16px;

  @media screen and (min-width: $tablet) {
    // arguments: items-per-row, spacing
    // @include flex-basis(3, 16);
    flex-basis: 224px;
    max-width: 224px;

    padding: 108px 26px 12px;
  }

  @media screen and (min-width: $desktop) {
    // arguments: items-per-row, spacing
    // @include flex-basis(3, 29);
    flex-basis: 370px;
    max-width: 370px;

    padding: 165px 64px 60px;
  }

  &:before {
    content: '';
    width: 200px;
    height: 200px;

    @media screen and (min-width: $desktop) {
      width: 302px;
      height: 302px;
    }

    position: absolute;
    transform: translateY(-110%);

    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }

  &:after {
    content: '';
    width: 200px;
    height: 200px;

    @media screen and (min-width: $desktop) {
      width: 302px;
      height: 302px;
    }

    position: absolute;
    transform: translateY(-110%) scale(0);
    animation: 900ms ease-out forwards product-image-pulsing;

    margin-top: -16px;

    @media screen and (min-width: $tablet) {
      margin-top: -12px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: -11px;
    }

    border-radius: 50%;
    overflow: hidden;

    background-position: center;
    background-size: cover;
  }

  &:nth-of-type(1) {
    background-color: #aec6a5;

    &:before {
      background: linear-gradient(0deg, rgba(#aec6a5, 0.7), rgba(#aec6a5, 0.7)),
        #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    }

    &::after {
      @include product-card-bg(products, image1, webp);
      animation-delay: 100ms;
    }
  }

  &:nth-of-type(2) {
    background-color: $bg-secondary;

    &:before {
      background: linear-gradient(
          0deg,
          rgba($bg-secondary, 0.7),
          rgba($bg-secondary, 0.7)
        ),
        #d9d9d9;
    }
    &::after {
      @include product-card-bg(products, image2, webp);
      animation-delay: 1200ms;
    }
  }

  &:nth-of-type(3) {
    background-color: $bg-tertiary;

    &:before {
      background: linear-gradient(
          0deg,
          rgba($bg-tertiary, 0.7),
          rgba($bg-tertiary, 0.7)
        ),
        #d9d9d9;
    }

    &::after {
      @include product-card-bg(products, image3, webp);
      animation-delay: 600ms;
    }
  }
}

.product-card__heading {
  text-transform: uppercase;
  font-weight: 700;

  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 27px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 37px;

    margin-bottom: 66px;
  }
}

.product-card__text {
  line-height: 176%; // 28px
  text-align: center;

  margin-bottom: 101px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    margin-bottom: 75px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.product-card__link {
  margin-top: auto;
  align-self: center;
}
